* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    
}

.botaocabeca {
    align-items: end;
    background-color: darkgreen;
    color: aliceblue;
    width: 150px;
    height: 40px;
    justify-content: space-between;
}

#container-pesquisas {
    
}

#container-pai {
    height: 200vh;
    border: 1px solid black;

}

.divlogo {
    display: inline-block;
}

.divbotoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbotoes a {
    align-items: end;
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.container-imagem{
        height: 500px;
            background-image: url(../background003.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
}

.secao-1{
    border: 1px solid rgba(27, 3, 3, 0.474);
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.429);
}

.botao1 {
    background-color: darkgreen;
    color: azure;
    width: 250px;
    height: 40px;
    padding: 10px 20px;
}

.botao2 {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    width: 250px;
    height: 40px;
    padding: 10px 20px;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

h2{
    color: rgb(255, 255, 255);
    font-size: 20px; 
}